

<div>
  <form [formGroup]="formTask" (ngSubmit)="guardarTarea()">
    <div class="mt-5">
      <div class="grid">
        <div class="col">
          <!-- Titulo de tarea -->
          <span class="p-float-label">
            <input pInputText style="width:80%;" id="username" formControlName="titulo"/>
            <label for="titulo">Titulo</label>
          </span>
        </div>
        <div class="col">
          <!-- Descripcion de tarea -->
          <span class="p-float-label">
            <input pInputText style="width:80%;" id="descripcion" formControlName="descripcion"/>
            <label for="descripcion">Descripción</label>
          </span>
        </div>
      </div>
      <div class="grid mt-2">
        <div class="col">
          <!-- Selección de importancia de tarea -->
          <span class="p-float-label">
            <p-dropdown  placeholder="Prioridad de tarea" optionLabel="name" inputId="float-label" formControlName="prioridad"></p-dropdown>
            <label for="float-label">Prioridad</label>
          </span>
        </div>
        <div class="col card flex justify-content-center">
          <!-- Fecha estimada de finalzación -->
          <span class="p-float-label">
            <p-calendar inputId="fecha_estimada" p-calendar appendTo="body" dateFormat="dd.mm.yy" formControlName="fc_estimada"></p-calendar>
            <label for="fecha_estimada">Fecha estimada</label>
          </span>
        </div>
        <div class="col">
          <span class="p-float-label">
            <p-dropdown  placeholder="Seleccione una categoria" optionLabel="name" inputId="float-label" formControlName="categoria"></p-dropdown>
            <label for="float-label">Categoría</label>
          </span>
        </div>
      </div>
      <div class="grid mt-3">
        <div class="col-12">
          <!-- texto de tarea -->
          <span class="p-float-label">
            <textarea id="float-input" rows="5" cols="50" pInputTextarea style="width: 100%;" formControlName="texto"></textarea>
            <label for="float-input">Describe la tarea</label>
          </span>
        </div>
      </div>
    </div>
    <div class="submit-button mt-3">
      <p-button (onClick)="limpiarForm()" [rounded]="true" [style]="{'margin-right': '10px'}" severity="help" icon="pi pi-times" iconPos="right"></p-button>
      <p-button  type="submit" [rounded]="true" severity="error" icon="pi pi-check" iconPos="right"></p-button>
    </div>
  </form>


</div>
