
<div class="grid">
  <div class="col">
      <div class="text-center p-3 border-round-sm bg-primary font-bold">
        GRID DE TAREAS
      </div>
  </div>
</div>

<!-- CRUD -->
<div class="crud-buttons" *ngIf="hayTareas">
  <p-button icon="pi pi-plus" class="add"  [rounded]="true" severity="success" (onClick)="addTarea()" ></p-button>
</div>

<div class="container flex" *ngIf="hayTareas; else noHayTareas">
  <div class="card tabla">

    <p-table [value]="aTareas" responsiveLayout="stack" [breakpoint]="'960px'"
            selectionMode="single" dataKey="id"
            [(selection)]="selection" [tableStyle]="{'max-width': '50rem'}">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 4rem"></th>
                <th>Titulo</th>
                <th>Categoria</th>
                <th>Usuario</th>
                <th>Prioridad</th>
                <th>Fecha estimada</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-columns="columns">
            <tr>
                <td>
                  <p-tableRadioButton [value]="item"></p-tableRadioButton>
                </td>
                <td><span class="p-column-title">Price</span>{{item.titulo}}</td>
                <td><span class="p-column-title"></span>{{item.categoria}}</td>
                <td><span class="p-column-title"></span>{{item.usuario_asignado}}</td>
                <td><span class="p-column-title"></span>{{item.severity}}</td>
                <td><span class="p-column-title"></span>{{item.fecha_estimada | date}}</td>
              </tr>
        </ng-template>
    </p-table>
  </div>
  <div class="ml-4">
    <p-speedDial [model]="items" direction="down" showIcon="pi pi-info" hideIcon="pi pi-times"></p-speedDial>
  </div>

</div>

<!-- Texto y botón en el caso de que no existan tareas -->
<ng-template #noHayTareas>
  <div class="no-task">
    <h2>Tu lista de tareas está vacía, empieza añadiendo la primera</h2>
    <p-button label="Añadir tarea" icon="pi pi-plus" class="add"  [rounded]="true" severity="success" (onClick)="addTarea()" iconPos="right" ></p-button>
  </div>
</ng-template>


<!-- Abre el modal de alta de tareas -->
<p-dialog header="Nueva tarea" [(visible)]="altaTarea" [maximizable]="true" [style]="{width: '50vw', height: '50%'}" (onHide)="cerrarModal()">
  <app-tareas-form (eventRes)="getEmitterForm($event)" [editarTarea]="tareaSeleccionada" [isEditting]="isEdditing"></app-tareas-form>
</p-dialog>

<!-- Abre el SideBar con la información sobre la tarea seleccioanda -->
<p-sidebar [(visible)]="resumenTarea" blockScrol="false" [style]="{width: '30vw'}" position="right" >
    <app-info-task [task]="tareaSeleccionada"></app-info-task>
</p-sidebar>

<p-toast></p-toast>



