
.btn-config .p-button .p-button-icon{
  font-size: 40px;
}

.lista>li{
  list-style: none;
  margin-bottom: 20px;
}

.menu-lateral{
  box-shadow: 5px 5px 10px #b385df
}

.layout-panel {
  display: flex;
  height: 98vh;
  overflow: hidden;
}

.chip{
  top: 0;
  right: 0;
  position: absolute;
  margin: 20px;
  cursor: pointer;
}

::ng-deep .p-chip{
  padding-left: 5px;
  width: 100%;
}

