:host {
  display: block;
  height: 100%;
  background-color: rgb(188, 211, 211);
}

::ng-deep .p-toast-message {
  font-size: 12px;
  padding: 6px;
}

.form{
  align-items: end;
  align-content: end;
  text-align: end;
  .buttons{
    align-items: end;
  }
}

.spans{
  display: inline-block;
}

.image{
  border-radius: 50%;
  max-height: 150px;
  box-shadow: 0 0 10px white;
}

::ng-deep .p-carousel-vertical .p-carousel-container{
  max-height: 450px;
}

